<!DOCTYPE html>
<html>
<head>
<style>
  * {
  }




  header {
      background-color: ;
      color: black;
      font-family: sans-serif;
      font-size: 13pt;
      text-transform: uppercase;
      margin: 0;
      height: 2.15em;
      text-align: center;
      font-family: monospace;

  }

  /* Set the layout of the menu: */
  .menu-item {
      display: inline-block;
      margin: 0 0;
      min-width: 8em;
      text-align: center;
      background-color: grey;
      padding: 0.5em 2em;
      color: black;
  }

  /* Style the links: */
  .menu-item a {
      color: black;
      text-decoration: none;
  }
  .menu-item:hover {
      background-color: lightpink;
  }

  /* Add a dropdown feature: */
  .dropdown {
      display: inline-block;
  }
  .dropdown-content {
      display: none;
      position: absolute;
      border: 1px solid #000;
      margin: 0;
      margin-top: 0.5em;
      color: black;
      background-color: lightpink;
      z-index: 1;
  }
  .dropdown-content a {
      color: black;
  }
  .dropdown:hover .dropdown-content {
      display: block;
  }

  /* Style dropdown item display: */
  .dropdown-item {
      display: block;
      text-align: left;
      margin: 0;
      color: black;
      padding: 0.5em;
      min-width: 7em;
      font-size: 13px;
  }

  .dropdown-content a:link {
    color: blue;
  }

  .dropdown-content a:visited {
      color: grey;
      text-decoration: none;
    }

  .dropdown-content a:hover {
    color: green;
    font-style: italic;
  }

  .dropdown-item:hover, .dropdown-item:hover a {
      color: black;
      background-color: lightpink;
  }

  .menu-item a:hover {
    color: blue;
  }

  body{
    font-family: Verdana, Arial, Tahoma;
    font-size: 12px;
  }

  .p {

    display: inline;
  }

  .maintext {
    width: 99%;
    height: 160%;
    background-color: grey;
    border: solid black;
    margin-top: 40px;
    margin-left: 3px;
    display: inline-flex;
    overflow-wrap: break-word;
    flex-direction: column;
    font-family: sans-serif;



  }

 .placeholder {
   display: flex;
   width: 100%;
   align-content: left;
   max-height: 200px
   font-size: 13px;
 }

  .form {
    margin: 10px;

    font-size: 12px;
    display: flex;
    float: left;
    align-self: center;
    position: static;
  }

  .headtext {
    align: center;
    display: inline;
  }

  .phone {
    margin-top: 40px;
    margin-bottom: 30px;
    align-self: center;
    text-align: center;
    font-size: 13px;
  }


  .p1 {
    font-size: 100px;

  }

  .hrs{
    font-size: 11px;
    margin-bottom: 60px;
  }


  .images {
    align-self: center;
    padding: 15px;
    max-width: 100%;
    height: auto;
  }


  .imagehome {
    align-items: center;
    padding: 15px;
  }





</style>
</head>

<body>



</body>


</html>
